*.md~
*.swp
*.h~/src/ImageServer/FStk.ini
/src/ImageServer/FStk.ini
/src/TestImageClient/TestImageClient
/src/TestImageClient/TestImageClientPing
*~
/src/TestImageClient/TestImageClientPingRegression

*.plist

src/TestImageClient/TestImageClientPing.dSYM/Contents/Resources/DWARF/TestImageClientPing

src/TestImageClient/TestImageClientPingRegression.dSYM/Contents/Resources/DWARF/TestImageClientPingRegression
/src/ImageServer/ImageServerDb.o

*.orig
